@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Maplestory_Bold";
  src: url("../fonts/Maplestory_Bold.ttf");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Maplestory_Light";
  src: url("../fonts/Maplestory_Bold.ttf");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("../fonts/Pretendard-SemiBold.woff");
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  outline: none;
}
